# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
datasets/
outputs/

# Virtual environment
.venv/
uv.lock

# Jupyter
.ipynb_checkpoints/
# *.ipynb

# Data and outputs
data/
datasets/
outputs/
*.pkl
*.npy
*.npz
*.pt
*.pth
*.png

# Wandb
wandb/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier
*.Zone.Identifier
*Zone.Identifier
